.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin-bottom: 5rem; */
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__img {
  pointer-events: none;
}
.footer__img img {
  bottom: 10rem;
  z-index: 100;
  position: relative;
}

.footer__btn {
  /* padding: 0.7rem 1rem 0.7rem 3rem; */
  outline: none;
  font-family: inherit;
  border-radius: 1.5rem;
  box-shadow: none;
  background-color: var(--secondary-color);
}
.footer__menu {
  position: absolute;
}
.footer__menu--item a {
  color: white;
}

.address__title span {
  color: rgb(95, 95, 95);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer_item1 {
  position: relative;
  left: -100px;
  /* left: -62rem; */
  /* bottom: -3rem; */
  border-radius: 0rem 2rem 2rem 8rem;
  /* padding: 0.5rem 0.5rem 0.5rem 5rem; */
  padding: 0rem 1rem 0rem 3rem;
  /* z-index: -1; */
}

.footer_item2 {
  position: relative;
  width: fit-content;
  left: -115px;
  /* left: -63rem; */
  /* bottom: -3rem; */
  border-radius: 0rem 2rem 2rem 8rem;
  /* padding: 0.5rem 0.5rem 0.5rem 6rem; */
  padding: 0rem 1rem 0rem 3rem;
  /* z-index: -1; */
}

.footer_item3 {
  position: relative;
  left: -48px;
  /* left: -63rem; */
  /* bottom: -3rem; */
  border-radius: 0rem 2rem 2rem 8rem;
  /* width: fit-content; */
  /* padding: 0.5rem 0.5rem 0.5rem 6rem; */
  padding: 0rem 1rem 0rem 3rem;
  /* z-index: -1; */
}

.footer__menu--item:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.footer__cr p {
  color: var(--primary-color);
  font-size: 0.8rem;
  /* width: 100%; */
}
