.navbar {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* margin-top: 2rem; */
  /* margin-right: 20rem; */
  /* position: relative; */

  /* margin-right: 15rem; */
}

.nav__img {
  z-index: 2;
  pointer-events: none;

  /* position: absolute;
  right: 5rem; */
}

.nav__menu {
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
  /* position: absolute; */
  flex-direction: column;
  z-index: -1;
  right: 46rem;
  top: 7rem;
}

.nav__menu--item:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.nav__menu--item a {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
}

.item1 {
  position: relative;
  right: 3.8rem;
  border-radius: 2rem 10rem 0px 2rem;
  /* padding: 0.7rem 5rem 0.7rem 1rem; */
  padding: 0rem 3rem 0rem 1rem;
}

.item2 {
  position: relative;
  right: -3.5rem;
  border-radius: 2rem 8rem 0px 2rem;
  /* padding: 0.7rem 5.5rem 0.7rem 1rem; */
  padding: 0rem 3rem 0rem 1rem;
}

.item3 {
  position: relative;
  right: -6rem;
  border-radius: 2rem 8rem 0px 2rem;
  padding: 0rem 5rem 0rem 1rem;
  /* padding: 0.7rem 5rem 0.7rem 1rem; */
}

.item4 {
  position: relative;
  right: -8rem;
  border-radius: 2rem 8rem 0px 2rem;
  padding: 0rem 3rem 0rem 1rem;
  /* padding: 0.7rem 5rem 0.7rem 1rem; */
}

.item5 {
  position: relative;
  right: -10rem;
  border-radius: 2rem 8rem 0px 2rem;
  /* padding: 0.5rem 3rem 0.5rem 1rem; */
  padding: 0rem 2rem 0rem 1rem;
}
