@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --primary-color: #028faa;
  --back-color: #edf5f8;
  --dark-color: #222;
  --secondary-color: #8acdd5;
}

html {
  font-size: 62.5%;
  font-family: "Vazir", "arial", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(
    258.43deg,
    rgba(198, 206, 208, 0.7) 13.71%,
    rgba(212, 229, 235, 0.7) 46.64%,
    rgba(169, 195, 205, 0) 88.55%
  );
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  font-family: inherit;
  padding: 0.7rem 3rem 0.7rem 1rem;
  /* border-radius: 1.5rem; */
  box-shadow: none;
  background-color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
