.text__box--address {
  display: flex;
  justify-content: flex-start;
  /* margin-right: 34rem; */
}

.text__box--main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 450px;
  height: 150px;
  overflow: hidden;
  /* margin: 0rem 2rem; */
  background-color: #d8e6e9;
  padding: 1.5rem;
  border-radius: 1.2rem;
}

.box p {
  color: var(--dark-color);
  font-size: 1rem;
}

.address__title span {
  color: rgb(95, 95, 95);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.address__icon--home i {
  font-size: 1.6rem;
}

.address__icon--aroow i {
  color: #d8e6e9;
}

.address__title a {
  color: #0000ff;
  margin-right: 0.5rem;
}
